useDynLib(dateutils, .registration=TRUE)

import(methods)

export(as.EDate)
S3method(as.Date, EDate)
export(as.IDate.EDate)
S3method(as.EDate, Date)
S3method(as.EDate, IDate)
S3method(as.EDate, POSIXct)
S3method(as.EDate, default)
S3method(as.EDate, numeric)
S3method(as.POSIXlt, EDate)
S3method(as.POSIXct, EDate)

S3method(c, EDate)
S3method(cut, EDate)
S3method(mean, EDate)
S3method(rep, EDate)
S3method(round, EDate)
S3method(seq, EDate)
S3method(split, EDate)
S3method(unique, EDate)

export(year)
export(`year<-`)
export(yday)
export(`yday<-`)
export(month)
export(mday)
