useDynLib(dateutils, .registration=TRUE)

export(year)
export(yday)
export(semi)
export(sday)
export(quarter)
export(qday)
export(month)
export(mday)
export(week)
export(wday)
export(sweek)
export(qweek)
export(mweek)
export(wcnt)
export(swcnt)
export(qwcnt)
export(mwcnt)
export(dday)
S3method(year, default)
S3method(yday, default)
S3method(semi, default)
S3method(quarter, default)
S3method(month, default)
S3method(mday, default)
S3method(week, default)
S3method(wday, default)
S3method(sweek, default)
S3method(qweek, default)
S3method(mweek, default)
S3method(wcnt, default)
S3method(mwcnt, default)

export(`year<-`)
export(`yday<-`)
export(`sday<-`)
export(`qday<-`)
export(`month<-`)
export(`mday<-`)
export(`week<-`)
export(`wday<-`)
export(`dday<-`)


export(as.FDate)
export(is.FDate)
S3method(as.FDate, character)
S3method(as.FDate, factor)
S3method(as.FDate, FDate)
S3method(as.FDate, integer)
S3method(as.FDate, Date)
S3method(as.FDate, IDate)
S3method(as.FDate, default)
S3method(as.Date, FDate)
S3method(as.POSIXlt, FDate)
export(as.POSIXlt.FDate)
S3method(as.character, FDate)

S3method(format, FDate)
S3method(print, FDate)

S3method(c, FDate)
S3method(rev, FDate)
S3method(cut, FDate)
S3method(mean, FDate)
S3method(rep, FDate)
S3method(round, FDate)
S3method(seq, FDate)
export(seq.FDate)
S3method(split, FDate)
S3method(unique, FDate)
S3method(min, FDate)
S3method(max, FDate)
S3method("[", FDate)

S3method(year, FDate)
export(year.FDate)
S3method(yday, FDate)
export(yday.FDate)
S3method(semi, FDate)
export(semi.FDate)
S3method(sday, FDate)
export(sday.FDate)
S3method(quarter, FDate)
export(quarter.FDate)
S3method(qday, FDate)
export(qday.FDate)
S3method(month, FDate)
export(month.FDate)
S3method(mday, FDate)
export(mday.FDate)
S3method(week, FDate)
export(week.FDate)
S3method(wday, FDate)
export(wday.FDate)
S3method(sweek, FDate)
export(sweek.FDate)
S3method(qweek, FDate)
export(qweek.FDate)
S3method(mweek, FDate)
export(mweek.FDate)
S3method(wcnt, FDate)
export(wcnt.FDate)
S3method(swcnt, FDate)
export(swcnt.FDate)
S3method(qwcnt, FDate)
export(qwcnt.FDate)
S3method(mwcnt, FDate)
export(mwcnt.FDate)
S3method(months, FDate)
S3method(weekdays, FDate)

S3method(`year<-`, FDate)
S3method(`yday<-`, FDate)
S3method(`sday<-`, FDate)
S3method(`qday<-`, FDate)
S3method(`month<-`, FDate)
S3method(`mday<-`, FDate)
S3method(`week<-`, FDate)
S3method(`wday<-`, FDate)


export(as.ddur)
export(is.ddur)
S3method(as.ddur, character)
S3method(as.ddur, factor)
S3method(as.ddur, numeric)
S3method(as.ddur, wcnt)
S3method(as.ddur, logical)
S3method(as.ddur, ddur)
export(ddur)
S3method(as.character, ddur)

S3method(format, ddur)
S3method(print, ddur)

S3method(c, ddur)
S3method(rev, ddur)
S3method(rep, ddur)
S3method(round, ddur)
S3method(unique, ddur)
S3method("[", ddur)
S3method(seq, ddur)
export(seq.ddur)

S3method(year, ddur)
export(year.ddur)
S3method(semi, ddur)
export(semi.ddur)
S3method(quarter, ddur)
export(quarter.ddur)
S3method(month, ddur)
export(month.ddur)
S3method(week, ddur)
export(week.ddur)
S3method(dday, ddur)
export(dday.ddur)

S3method(`year<-`, ddur)
S3method(`month<-`, ddur)
S3method(`week<-`, ddur)
S3method(`dday<-`, ddur)

## these ones do arithmetic with FDates and ddurs
S3method(`+`, .duo)
S3method(`-`, .duo)
S3method(`*`, ddur)
S3method(`/`, ddur)
S3method(`%%`, ddur)

export(`%before%`)
export(`%before|on%`)
export(`%after%`)
export(`%after|on%`)
export(`older.than`)
export(`%older.than%`)
export(`newer.than`)
export(`%newer.than%`)
S3method("<", .duo)
S3method("<=", .duo)
S3method(">", .duo)
S3method(">=", .duo)
S3method("!=", .duo)
S3method("==", .duo)
S3method("%before%", .duo)
S3method("%before|on%", .duo)
S3method("%after%", .duo)
S3method("%after|on%", .duo)
S3method("%older.than%", .duo)
S3method("older.than", .duo)
S3method("%newer.than%", .duo)
S3method("newer.than", .duo)
export(oldest)
export(newest)


export(as.wcnt)
export(is.wcnt)
S3method(as.wcnt, character)
S3method(as.wcnt, factor)
S3method(as.wcnt, numeric)
S3method(as.wcnt, wcnt)
S3method(as.character, wcnt)

S3method(format, wcnt)
S3method(print, wcnt)

S3method(week, wcnt)
export(week.wcnt)
S3method(wday, wcnt)
export(wday.wcnt)
S3method(`week<-`, wcnt)
S3method(`wday<-`, wcnt)

S3method(c, wcnt)
S3method(rev, wcnt)
S3method(cut, wcnt)
S3method(rep, wcnt)
S3method(split, wcnt)
S3method(unique, wcnt)
S3method(min, wcnt)
S3method(max, wcnt)
