useDynLib(dateutils, .registration=TRUE)

import(methods)

export(year)
export(`year<-`)
export(yday)
export(`yday<-`)
export(semi)
export(sday)
export(quarter)
export(qday)
export(month)
export(`month<-`)
export(mday)
export(`mday<-`)
export(week)
export(wday)

export(as.EDate)
S3method(as.Date, EDate)
export(as.IDate.EDate)
S3method(as.EDate, character)
S3method(as.EDate, Date)
S3method(as.EDate, IDate)
S3method(as.EDate, EDate)
S3method(as.EDate, POSIXct)
S3method(as.EDate, default)
S3method(as.POSIXlt, EDate)
S3method(as.POSIXct, EDate)

S3method(format, EDate)
S3method(print, EDate)

S3method(c, EDate)
S3method(cut, EDate)
S3method(mean, EDate)
S3method(rep, EDate)
S3method(round, EDate)
S3method(seq, EDate)
S3method(split, EDate)
S3method(unique, EDate)
S3method(min, EDate)
S3method(max, EDate)

S3method(year, EDate)
export(year.EDate)
S3method(yday, EDate)
export(yday.EDate)
S3method(semi, EDate)
export(semi.EDate)
S3method(sday, EDate)
export(sday.EDate)
S3method(quarter, EDate)
export(quarter.EDate)
S3method(qday, EDate)
export(qday.EDate)
S3method(month, EDate)
export(month.EDate)
S3method(mday, EDate)
export(mday.EDate)
S3method(week, EDate)
export(week.EDate)
S3method(wday, EDate)
export(wday.EDate)
S3method(months, EDate)
S3method(weekdays, EDate)


export(as.FDate)
S3method(as.FDate, character)
S3method(as.FDate, FDate)
S3method(as.POSIXlt, FDate)
export(as.POSIXlt.FDate)

S3method(format, FDate)
S3method(print, FDate)

S3method(c, FDate)
S3method(cut, FDate)
S3method(mean, FDate)
S3method(rep, FDate)
S3method(round, FDate)
S3method(seq, FDate)
S3method(split, FDate)
S3method(unique, FDate)
S3method(min, FDate)
S3method(max, FDate)

S3method(year, FDate)
export(year.FDate)
S3method(yday, FDate)
export(yday.FDate)
S3method(semi, FDate)
export(semi.FDate)
S3method(sday, FDate)
export(sday.FDate)
S3method(quarter, FDate)
export(quarter.FDate)
S3method(qday, FDate)
export(qday.FDate)
S3method(month, FDate)
export(month.FDate)
S3method(mday, FDate)
export(mday.FDate)
S3method(week, FDate)
export(week.FDate)
S3method(wday, FDate)
export(wday.FDate)
S3method(months, FDate)
S3method(weekdays, FDate)


export(as.ddur)
S3method(as.ddur, character)
S3method(as.ddur, ddur)
export(as.ddur.character)
S3method(as.ddur, numeric)

S3method(format, ddur)
S3method(print, ddur)

S3method(c, ddur)
S3method(rep, ddur)
S3method(round, ddur)
S3method(unique, ddur)

## these ones do arithmetic with EDates and FDates as well
S3method(`+`, ddur)
S3method(`-`, ddur)
S3method(`-`, EDate)
